<h1 class="large header">Adventkalender</h1>

<p class="normal center">
  Super super HV TDP Adventkalender 🥳 🥳 🥳 🥳 🥳 🥳 🥳 
</p>

<br>
<br>

<!-- <img class="center" src="{{imageBaseUrl.concat(advent/advent.jpeg)}}"> -->
<img class="center" src="/assets/images/advent/advent.jpeg" style="width: 25vw;">


 <br>
 <br>

 <!-- width="320" height="240" -->

<video class="center" controls>
  <source src="/assets/images/advent/2021_HV TDP Stainz_Adventskalender_01.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

<br>
<br>
