<h1 class="large header">Adventkalender</h1>

<p class="normal center" style="text-align: center;">
  Premiere! Die Weihnachtszeit ist ja die ruhigste des Jahres! Wir nutzen sie dazu um das Fußballjahr etwas Revue passieren zu lassen.
  <span *ngIf="season == '2021'">
    Mit dem HV TDP Stainz Sport Adventkalender stellen wir euch jeden Tag einen Spieler aus dem Meisterschaftskader vor.
  </span>

  <span *ngIf="season == '2023'">
    Mit dem HV TDP Stainz Sport Adventkalender stellen wir euch jeden Tag ein Tor aus der Saison 2022/2023 vor.
  </span>

  <br><br>
  Schaut jeden Tag auf unserer Homepage vorbei und seid gespannt! 😉
</p>

<br>
<br>

<img class="bordered img_advent" src="/assets/images/advent/{{season}}/{{season}}_Adventskalender_{{ curDay() }}.jpg">

 <br>
 <br>

<div *ngFor="let day of dayRange()">
  <h2 style="text-align: center;">
    <b><u>Türchen {{ day }}</u></b>
  </h2>
  <br>

  <div *ngIf="isMobile">
    <video width="100%" controls>
      <source src="/assets/videos/advent/{{season}}/{{season}}_HV TDP Stainz_Adventskalender_{{day}}.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <video *ngIf="!isMobile" class="center" controls>
    <source src="/assets/videos/advent/{{season}}/{{season}}_HV TDP Stainz_Adventskalender_{{day}}.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <br>

</div>


<br>
<br>
