<br>

<!-- <a class="center" href="http://www.stt-meisterschaft.at/node/7">http://www.stt-meisterschaft.at/node/7</a>

<div class="h_iframe">
  &nbsp;
  <iframe src="http://www.stt-meisterschaft.at/node/7" frameborder="0" allowfullscreen height="1400">
  </iframe>
</div>
-->

<h1 class="large header">
  STT - Meisterschaft {{ season }} - aktueller Tabellenstand:
</h1>

<h3 class="header">
  Liga B
</h3>
<br>

<mat-table [dataSource]="dataSource" matSort matSortActive="place" matSortDirection="asc" matSortDisableClear>

  <ng-container matColumnDef="place">
      <mat-header-cell *matHeaderCellDef>Platz</mat-header-cell>
      <mat-cell *matCellDef="let standings">{{standings.place}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="team">
      <mat-header-cell *matHeaderCellDef>Mannschaft</mat-header-cell>
      <mat-cell *matCellDef="let standings">{{standings.team}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="games">
    <mat-header-cell *matHeaderCellDef>Spiele</mat-header-cell>
    <mat-cell *matCellDef="let standings">{{standings.games}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="wins">
    <mat-header-cell *matHeaderCellDef>S</mat-header-cell>
    <mat-cell *matCellDef="let standings">{{standings.wins}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="draws">
    <mat-header-cell *matHeaderCellDef>U</mat-header-cell>
    <mat-cell *matCellDef="let standings">{{standings.draws}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="losses">
    <mat-header-cell *matHeaderCellDef>N</mat-header-cell>
    <mat-cell *matCellDef="let standings">{{standings.losses}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="goalDifference">
    <mat-header-cell *matHeaderCellDef>Torverhältnis</mat-header-cell>
    <mat-cell *matCellDef="let standings">{{standings.goalDifference}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="points">
    <mat-header-cell *matHeaderCellDef>Punkte</mat-header-cell>
    <mat-cell *matCellDef="let standings">{{standings.points}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>

<div *ngIf="season == '2024-2025'">
  <p class="normal">
    <b>Spieltermine Herbst 2024:</b>
  </p>
<!--
  <p class="normal">
    4. Runde - FREITAG, 20.09.2024 - 19:00 Uhr - Stadion Stainz - HV TDP Stainz : STT Multitask
  </p>

  <p class="normal">
    5. Runde - FREITAG, 27.09.2024 - 17:30 Uhr - Sportplatz St. Johann - SK Hohenburg : HV TDP Stainz
  </p>

  <p class="normal">
    6. Runde - SAMSTAG, 12.10.2024 - 16:30 Uhr - Stadion Stainz - HV TDP Stainz : STT Multitask
  </p>
  -->

  <p class="normal">
    Cup Achtelfinale - MITTWOCH, 30.10.2024 - 18:30 Uhr - Stadion Stainz - HV TDP Stainz : STT Fürndörfler
  </p>

  <p class="normal">
    <b>Unsere Torschützen:</b>
  </p>

  <p *ngFor="let scorer of scorers" class="normal">
    {{ scorer.goalsDisplay }} {{scorer.playerName}}
  </p>

  <br>

  <p class="normal">
    <b>Ergebnisse:</b>
  </p>

  <p class="small">
    Testspiel - HV TDP Stainz : Sporting Pettersdorf II 1:3
  </p>

  <p class="small">
    1. Runde, STT Pichler : HV TDP Stainz 7:0
  </p>

  <p class="small">
    2. Runde, HV TDP Stainz : GSV St. Oswald 2:0
  </p>

  <p class="small">
    3. Runde, SV Geistthal : HV TDP Stainz 2:3
  </p>


  <p class="normal">
    4. Runde, HV TDP Stainz : STT Pichler 2:3
  </p>

</div>

<div *ngIf="season == '2023-2024'">

  <!--
  <p class="normal">
    <b>Spieltermine Frühjahr 2024:</b>
  </p>
   -->
<!--
  <p class="normal">
    13. Runde - DIENSTAG, 18.06.2024 - 19:00 Uhr - Sportplatz Stainz - HV TDP Stainz : FC St. Johann/Köppling
  </p>

  <p class="normal">
    SAMSTAG, 15.06.2024 - Sirnitz (Kärnten) - Hinti-Cup
  </p>
  -->

  <hr>

  <p class="normal">
    <b>Unsere Torschützen:</b>
  </p>

  <p *ngFor="let scorer of scorers" class="normal">
    {{ scorer.goalsDisplay }} {{scorer.playerName}}
  </p>

  <br>

  <p class="normal">
    <b>Ergebnisse:</b>
  </p>

  <p class="small">
    1. Runde - SV Geistthal : HV TDP Stainz 2:7
  </p>

  <p class="small">
    2. Runde - SK Hohenburg : HV TDP Stainz 1:2
  </p>

  <p class="small">
    Cup Achtelfinale - HV TDP Stainz : SV Geistthal 4:2
  </p>

  <p class="small">
    3. Runde - HV TDP Stainz : STT Multitask 2:4
  </p>

  <p class="small">
    4. Runde - HV TDP Stainz : STT Wörgötter 3:4
  </p>

  <p class="small">
    5. Runde - St. Johann/Köppling : HV TDP Stainz 1:1
  </p>

  <p class="small">
    Cup Viertelfinale - HV TDP Stainz : STT Mauser 3:2
  </p>

  <p class="small">
    6. Runde - STT Pichler : HV TDP Stainz 3:1
  </p>

  <p class="small">
    Testspiel - HV TDP Stainz: GSV St. Oswald bei Plankenwarth 12:0
  </p>

  <p class="small">
    Testspiel - HV TDP Stainz: HFC Graz 8:1
  </p>

  <p class="small">
    8. Runde - HV TDP Stainz : STT Pichler 4:1
  </p>

  <p class="small">
    9. Runde - HV TDP Stainz : SK Hohenburg 3:0
  </p>

  <p class="small">
    10. Runde - HV TDP Stainz : SV Geistthal 3:0 (strafverifiziert)
  </p>

  <p class="small">
    11. Runde - STT Multitask : HV TDP Stainz 3:4
  </p>

  <p class="small">
    Cup Halbfinale - HV TDP Stainz : STT Fürndörfler 0:4
  </p>

  <p class="small">
    12. Runde - STT Wörgötter : HV TDP Stainz 3:0
  </p>

  <p class="small">
    13. Runde - HV TDP Stainz : FC St. Johann/Köppling 3:7
  </p>

  <!--
  <br>

  <p class="normal">
    <b>Spieltermine Herbst 2023:</b>
  </p>

  <hr>

  <p class="normal">
    1. Runde - SAMSTAG, 28.10.2023 - 17:00 Uhr - Sportplatz Södingberg - STT Pichler : HV TDP Stainz
  </p>
  <hr>

  -->

  <!-- <p class="normal">14. Runde - FREITAG, 15.07.2022 - 18:30 Uhr - Sportplatz Södingberg - STT Pichler vs. HV TDP Stainz</p> -->
  <br>

</div>

<div *ngIf="season == '2022-2023'">

  <p class="small">
    <b>Ergebnisse:</b>
  </p>

  <p class="small">
    1. Runde - STT Pichler : HV TDP Stainz 2:2
  </p>

  <p class="small">
    2. Runde - HV TDP Stainz vs. STT Fürndörfler 0:3
  </p>

  <p class="small">
    3. Runde - HV TDP Stainz vs. GH Prettenthaler 1:5
  </p>

  <p class="small">
    4. Runde - HV TDP Stainz vs. SV Geistthal 3:1
  </p>

  <p class="small">
    5. Runde - HV TDP Stainz vs. HFC Gössnitz 4:1 *
  </p>

  <p class="small">
    6. Runde - HV TDP Stainz vs. 1. FC Montagskicker 7:3
  </p>

  <p class="small">
    7. Runde - HV TDP Stainz vs. SK Hohenburg 3:4
  </p>

  <p class="small">
    8. Runde - HV TDP Stainz vs. STT Pichler 2:2
  </p>

  <p class="small">
    9. Runde - GH Prettenthaler : HV TDP Stainz 3:6
  </p>

  <p class="small">
    10. Runde - STT Fürndörfler : HV TDP Stainz 3:2
  </p>

  <p class="small">
    11. Runde - SK Hohenburg : HV TDP Stainz 2:2
  </p>

  <p class="small">
    12. Runde - SV Geistthal : HV TDP Stainz 4:5
  </p>

  <p class="small">
    13. Runde - Montagskicker : HV TDP Stainz 0:3 (strafverifiziert)
  </p>

  <hr>

  <p class="small">
    * Spiel wird offiziell nicht gewertet, da Gössnitz aus der Liga ausgestiegen ist.
  </p>

  <br>

  <p class="normal">
    <b>Unsere Torschützen:</b>
  </p>

  <p *ngFor="let scorer of scorers" class="normal">
    {{ scorer.goalsDisplay }} {{scorer.playerName}}
  </p>

  <br>

  <!--

  <p class="normal">
    <b>Spieltermine Frühjahr 2023:</b>
  </p>

  <p class="normal">12. Runde - Samstag, 01.07.2023, 18:30 - Sportplatz Geistthal - SV Geistthal : HV TDP Stainz</p>
  <hr>

  -->

  <hr>

</div>

<div *ngIf="season == '2021-2022'">
  <p class="small">
    Die Plätze 1 bis 3 spielen am Ende der Saison in einem Play-off gegen die Plätze 5 bis 8 aus Liga A um den Aufstieg.
  </p>

  <br>

  <p class="normal">
    <b>Unsere Torschützen:</b>
  </p>

  <p *ngFor="let scorer of scorers" class="normal">
    {{ scorer.goalsDisplay }} {{scorer.playerName}}

    <!-- <span *ngFor="let n of numSequence(player); let i = index;">{{i}} </span> -->

    <!-- <ng-container *ngFor="let _ of [].constructor(player.goals)"><i class="fas fa-futbol"></i></ng-container> -->
    <!-- __ -->
    <!-- <ng-container *ngFor="let i of Arr(6).fill(1)"><i class="fas fa-futbol"></i></ng-container> -->
  </p>

  <br>

  <p class="small">
    <b>Ergebnisse:</b>
  </p>

  <p class="small">
    1. Runde - SK Hohenburg : HV TDP Stainz 0:3
  </p>

  <p class="small">
    2. Runde - HV TDP Stainz : SK UP Voitsberg 3:3
  </p>

  <p class="small">
    3. Runde - HFC Mein Lokal Gößnitz : HV TDP Stainz 1:2
  </p>

  <p class="small">
    4. Runde - HV TDP Stainz : HFC Studio A Köflach 0:3
  </p>

  <p class="small">
    5. Runde - STT Dorfwirt Müller : HV TDP Stainz 6:2
  </p>

  <p class="small">
    6. Runde - SV Geistthal : HV TDP Stainz 3:5
  </p>

  <p class="small">
    7. Runde - HV TDP Stainz : STT Pichler 2:2
  </p>

  <p class="small">
    8. Runde - HV TDP Stainz vs. SK Hohenburg 3:0
  </p>

  <p class="small">
    9. Runde - SK UP Voitsberg vs. HV TDP Stainz 3:2
  </p>

  <p class="small">
    10. Runde - HV TDP Stainz vs. STT Mein Lokal Gössnitz 1:1
  </p>

  <p class="small">
    11. Runde - HV TDP Stainz vs. HFC Studio A Köflach 1:2
  </p>

  <p class="small">
    12. Runde - HV TDP Stainz vs. STT Dorfwirt Müller 1:0
  </p>

  <p class="small">
    13. Runde - HV TDP Stainz vs. SV Geistthal 4:3
  </p>


  <p class="small">
    14. Runde - STT Pichler vs. HV TDP Stainz 2:2
  </p>

  <br>

  <br>


  <!-- <p class="normal">
    <b>Spieltermine Frühjahr 2022:</b>
  </p> -->

  <!--
  <p class="normal">12. Runde - MITTWOCH, 22.06.2022 - 19:00 Uhr - Stadion Stainz - HV TDP Stainz vs. STT Dorfwirt Müller</p>
  <hr>
  <p class="normal">13. Runde - SAMSTAG, 02.07.2022 - 18:30 Uhr - Stadion Stainz - HV TDP Stainz vs. SV Geistthal</p>
  <hr>
  <p class="normal">14. Runde - FREITAG, 15.07.2022 - 18:30 Uhr - Sportplatz Södingberg - STT Pichler vs. HV TDP Stainz</p>
  -->

  <!-- <p class="normal">14. Runde - FREITAG, 15.07.2022 - 18:30 Uhr - Sportplatz Södingberg - STT Pichler vs. HV TDP Stainz</p> -->

</div>

<br>
<br>
