.absolute-sidenav {
  position: absolute;
  top: 1;
  left: 0;
  width: 165px;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.0);
}

button.mat-menu-item {
  width: auto;
}

.mat-toolbar-row {
  padding-left: 0;
}
  
/* Links */
  
/* unvisited link */
a:link {
  color: whitesmoke;
}

/* visited link */
a:visited {
  color: whitesmoke;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: red;
}
