<div class="container footer"
    fxLayout="row wrap"
    fxLayout.sm="column wrap"
    fxLayout.xs="column wrap"
    fxLayoutAlign.sm="start center"
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.gt-sm="center center"
    fxLayoutGap="10px">

  <div fxFlex="100%" fxFlex.gt-sm="45%">
    <div style="text-align:center">
      <a md-icon-button class="btn-facebook" href="https://www.facebook.com/hvtdpstainz/" target="_blank"><i class="fab fa-facebook fa-lg"></i></a>
      &nbsp;
      <a md-icon-button class="btn-twitter" href="https://twitter.com/HvStainz/" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
      &nbsp;
      <a md-icon-button class="btn-instagram" href="https://www.instagram.com/hvtdpstainz_2014/" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
      &nbsp;
      <a md-icon-button class="btn-mail" href="mailto:hvtdpstainz@gmx.at"><i class="fas fa-envelope"></i></a>
    </div>
  </div>
  <div fxFlex="100%" fxFlexAlign="center center">
    <br>

    <div *ngIf="sessions" style="text-align:center;">
      Der HV TDP bedankt sich für {{sessions}} Website-Aufrufe seit dem 23.07.2018!
    </div>

    <br>

    <table align="center">
      <tr>
        <td>
            <a href="https://apps.apple.com/us/app/the-travel-companion/id1441554384" target="blank">
              <img class="imageSmallCenter" src="assets/images/tc_logo.png" style="height: 100px; width: 100px;">
            </a>
        </td>
        <td>&nbsp;</td>
        <td>
            <a href="http://www.textildruckprofi.com/" target="blank">
              <img class="imageSmallCenter" src="assets/images/tdp.jpg" style="height: 80px; width: 180px;">
            </a>
        </td>
        <td>&nbsp;</td>
        <td>
          <a href="https://dangraz.at/" target="blank">
            <img class="imageSmallCenter" src="assets/images/dan_logo.jpeg" style="height: 80px; width: 150px;">
          </a>
        </td>
      </tr>
    </table>

    <div style="text-align:center;">
      <p><a href="https://github.com/sjaindl" target="_blank">© 2018-2024 Stefan Jaindl</a></p>
    </div>
  </div>
</div>
