<h1 class="large header">
    Wähle das Tor der Saison {{season}}
</h1>


<!-- <button style="margin: auto; font-size: 20px;" mat-button class="background-primary" (click)="reload()"> Umfrage laden</button> -->
<!-- <button style="margin: auto; font-size: 20px;" mat-button class="background-primary" (click)="goToSurvey()">Zur Umfrage</button> -->

<a *ngIf="season=='2022'" href="https://www.umfrageonline.com/c/zwsdprsc" style="font-size: 20px; text-align: center; display: block;" target="_blank">
  Zur Umfrage
</a>
<a *ngIf="season=='2023'" href="https://www.umfrageonline.com/c/djhufanr" style="font-size: 20px; text-align: center; display: block;" target="_blank">
Zur Umfrage
</a>

<br>
<br>

<!-- <div id="surveyhero-embed-wcuxrs9g"></div> -->

<!-- <div class="h_iframe">
  <iframe
      frameborder="0"
      id="surveyhero-embed-wcuxrs9g"
      src="https://www.umfrageonline.com/e/wcuxrs9g"
      allowfullscreen
      height="1700">
  </iframe>
</div> -->

<div class="container" fxLayout="column" fxLayoutGap="10px">

    <div fxFlex *ngIf="!isMobile">
        <mat-grid-list cols="2" rowHeight="400px" *ngIf="!isMobile">
            <div *ngFor="let link of links">
                <div *ngFor="let player of players">
                    <mat-grid-tile *ngIf="matches(link.link.scorer, player)" [ngStyle]="{'height': '130px' }" appHighlight>

                        <div fxFlex="25" fxFlexOffset="10px" class="item-detail">
                            <div fxLayout="column" fxLayoutAlign="center center">
                                <div fxFlex="50" fxFlexOffset="10px">
                                    <img class="imageSmallCenter" matListAvatar class='img-preview' src="{{imageBaseUrl + player.imagePath}}" alt="{{player.firstName}} {{player.lastName}}" style="width: 80px; height: 130px;">
                                </div>
                                <div fxFlex="50" fxFlexOffset="10px">
                                    <p class="smallCentered">
                                        {{link.description}}
                                        {{link.link.description}} {{link.link.scorer}}
                                    </p>
                                </div>
                            </div>

                        </div>

                        <div fxFlex="50" fxFlexOffset="25px" fxLayoutAlign="center center">
                            <iframe width="560px" height="315px" [src]="link.link.link | safe" frameborder="0" allowfullscreen></iframe>
                        </div>

                    </mat-grid-tile>
                </div>
            </div>

        </mat-grid-list>
    </div>



    <div fxFlex *ngIf="isMobile">
        <mat-grid-list cols="1" rowHeight="325px">
            <div *ngFor="let link of links">
                <div *ngFor="let player of players">
                    <mat-grid-tile *ngIf="matches(link.link.scorer, player)" [ngStyle]="{'height': '180px' }" appHighlight>

                        <div fxFlex="25" fxFlexOffset="10px" class="item-detail">
                            <div fxLayout="column" fxLayoutAlign="center center">
                                <div fxFlex="50" fxFlexOffset="10px">
                                    <img class="imageSmallCenter" matListAvatar class='img-preview' src="{{imageBaseUrl + player.imagePath}}" alt="{{player.firstName}} {{player.lastName}}" style="width: 80px; height: 130px;">
                                </div>
                                <div fxFlex="50" fxFlexOffset="10px">
                                    <p class="smallCentered">
                                        {{link.description}}
                                        <br>
                                        {{link.link.description}} {{link.link.scorer}}
                                    </p>
                                </div>
                            </div>

                        </div>

                    </mat-grid-tile>

                    <mat-grid-tile *ngIf="matches(link.link.scorer, player)" [ngStyle]="{'height': '130px' }" appHighlight>
                        <div fxFlex="50" fxFlexOffset="25px" fxLayoutAlign="center center">
                            <iframe width="224px" height="128px" [src]="link.link.link | safe" frameborder="0" allowfullscreen></iframe>
                        </div>

                    </mat-grid-tile>
                </div>
            </div>

        </mat-grid-list>
    </div>

</div>

<br>
