.player-container {
  display: flex;
  align-items: center; /* Vertically centers items */
}

.player-name {
  margin-left: 10px; /* Adjust space between image and text */
}

mat-list-option {
  background: #3b3b3b;
}

mat-list-option[aria-selected="true"] {
  background: #c2185b;
}

mat-list-option[aria-selected="false"] {
  background: #3b3b3b;
}
