.mat-list .mat-list-item .mat-list-avatar.papp-preview {
  width: 250px;
  height: 250px;
  margin-right: 20px;
}

.pappListImage {
  float: left;
  margin-bottom: 250px;
  width: 700px;
}

.text {
  color: white;
}
