<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h3 class="large header">Comedy Hirten - Kabarett beim HV TDP</h3>
      <hr />
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="10px">
        <p class="normal"></p>
        <p class="normal">
          Die Sensation ist perfekt......Wir holen die Comedy Hirten nach Stainz! 🎉
        </p>
        <p class="normal">
          📅 WANN: Samstag, 17. Mai 2025<br />
          🏟 WO: Festhalle Stallhof (Stallhof 102, 8510 Stainz)
        </p>

        <p class="normal">
          <u><b>Programmübersicht</b></u>
        </p>

        <p class="normal">
          <b>17:30 Uhr - Einlass</b>
        </p>
        <hr />

        <p class="normal">Für die ersten Gäste gibt es ein "Begrüßungsgetränk" 🍻<br /></p>

        <p class="normal">
          <b>19:30 Uhr - Comedy Hirten LIVE - "Immer wieder Österreich"</b>
        </p>
        <hr />
        <p class="normal">
          Der Bundespräsident hat einmal gesagt: „So sind wir nicht!“. Aber, wenn wir nicht so sind,
          wie sind wir dann? Die Comedy Hirten geben in ihrem neuen Programm eine Antwort auf diese
          Frage. Seit 20 Jahren sind die Stimmenimitatoren nun vom Arlberg bis Zwettl unterwegs und
          haben Österreich nicht nur lieben-, sondern auch kennengelernt. Ist Kärnten tatsächlich
          lei ans, Wien wirklich anders und gibt es das Schneiztal wirklich?<br />
        </p>

        <p class="normal">
          Die Comedy Hirten analysieren in ihrer kabarettistischen Liebeserklärung an unser
          Heimatland die Österreicherinnen und Österreicher. Dabei werden alle großen Söhne und
          Töchter des Landes parodiert. Marco Arnautovic bereitet sich mit dem Nationalteam auf die
          Europameisterschaft vor. Hans Knauß, Thomas Sykora, Katharina Liensberger zeigen uns, dass
          die Habsburger vielleicht die Welt beherrscht haben, wir aber immerhin noch immer den
          Weltcup. Die Hirten machen eine Zeitreise durch österreichische Film- und
          Fernsehgeschichte, und mit Parodien auf Seiler und Speer, Mathea, Hubert von Goisern,
          Wanda, Bilderbuch, Rainhard Fendrich, Falco, Georg Danzer wird Herbert Haider - die
          Ein-Mann-Band der Comedy Hirten - dem Austropop huldigen. Alle Spitzenkandidaten für die
          Nationalratswahl 2024 kommen zu Wort, das sollte Sie dennoch nicht abhalten, das neue
          Jubiläumsprogramm der Comedy Hirten anzuschauen.
        </p>
        <hr />

        <p class="normal">
          Neben den Stammspielern Peter Moizi, Herbert Haider und Christian Schwab ist Angelika
          Niedetzky neu dabei.
        </p>

        <p class="normal">
          <u><b>Im Anschluss</b></u>
        </p>

        <p class="normal">Aftershowparty 🎉</p>

        <p class="normal">
          <u><b>Kartenpreise und Sitzkategorien (siehe Sitzplan)</b></u>
        </p>

        <hr />
        <div class="normal">
          <ul>
            <li>fixer Sitzplatz (Block 1 &amp; Block 2) - € 32,--</li>
            <li>freie Sitzplatzwahl (Block 3) - € 26,--</li>
          </ul>
        </div>

        <p class="normal">
          <u><b>Vorverkaufsstellen</b></u>
        </p>

        <p class="normal">
          🎫 oeticket.at<br />
          🎫 per WhatsApp unter 0660/6878818<br />
        </p>
      </div>

      <div fxLayout="column">
        <div fxFlex="50" fxFlexOffset="25px">
          <img class="imageSmallCenter" src="assets/images/comedyhirten.jpg" style="width: 80%" />
        </div>

        <div fxFlex="50" fxFlexOffset="25px">
          <img
            class="imageSmallCenter"
            src="assets/images/comedyhirten_sitzplan.jpg"
            style="width: 80%"
          />
        </div>
      </div>
    </div>
  </div>

  <div fxFlex fxFlexOffset="20px" class="form-size small">
    <h3>Sichere dir deine Tickets gleich jetzt ⬇</h3>
  </div>

  <div style="padding: 0">
    <iframe
      id="eventim-light-iframe-v2-65e594452a65fb7a6f8f1441"
      src="https://www.eventim-light.com/at/a/65e594452a65fb7a6f8f1441/iframe/"
      width="100%"
      height="990px"
      data-scroll="true"
      data-scroll-offset-y="0"
      scrolling="yes"
      frameborder="0"
      name="eventim-light-iframe-v2-65e594452a65fb7a6f8f1441"
    ></iframe>
    <script
      type="text/javascript"
      src="https://www.eventim-light.com/at/a/65e594452a65fb7a6f8f1441/public/iframe/el-shop.js"
    ></script>
  </div>
</div>
<br />
