<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

     <div fxFlex>
            <div>
               <h3 class="large header">‼ SOMMERFEST - 10 Jahresjubiläum ‼</h3>
               <hr>
            </div>
     </div>

    <div fxFlex>
      <div fxLayout="column" fxLayout.gt-sm="row">
          <div fxFlex="50" fxFlexOffset="10px">
            <p class="normal">
              <p class="normal">
                2024 ist unser Jubiläumsjahr und das wollen wir mit euch gemeinsam feiern! 🎉
              </p>
              <p class="normal">
                📅 WANN: Samstag, 20. Juli 2024<br>
                🏟 WO: Stadion Stainz
              </p>

              <p class="normal">
                <u><b>Programmübersicht</b></u>
              </p>

              <p class="normal">
                <b>11:07 Uhr - Einlass</b>
              </p>
              <hr>

              <p class="normal">
                Für die ersten 75 Zuschauer gibt es ein „Willkommensgeschenk“. 🎁<br>
                Weiters gibt es Freibier für alle (solange der Vorrat reicht!) 🍻<br>
              </p>

              <p class="normal">
                <b>11:30 Uhr: "Warm up Sommerparty"</b>
              </p>
              <hr>
              <p class="normal">
                DJ TomTru eröffnet den Tag und heizt euch mit Sommerhits und Partyschlager ein! 🎉<br>
              </p>

              <p class="normal">
                <b>16:00 Uhr: Freundschaftsspiel HV TDP Stainz : <a href="https://fk-austria.at/teams/allstars/kader" target="_blank">FK Austria Wien Allstars</a></b>
              </p>
              <hr>
              <p class="normal">
                Das sportliche Highlight des Tages - die ehemaligen Nationalteamspieler und FK Austria Wien Legenden kommen nach Stainz! 🟣⚪<br>
                Toni Pfeffer, Markus Suttner, Andreas Lasnik, Paul Scharner, Florian Klein, Andi Ogris und und und…..<br>
                Fußballherz was willst du mehr?!? Eine einzigartige Möglichkeit den ehemaligen Fußballprofis noch einmal genau auf die Beine schauen zu können! ⚽<br>
              </p>

              <p class="normal">
                <b>19:00 Uhr: Live Musik "Die Schilcherlandbuam"</b>
              </p>
              <hr>
              <p class="normal">
                Das musikalische Highlight des Tages - JUNG, FRECH, STEIRISCH - Ganz nach diesem Motto sorgen „Die Schilcherlandbuam“ auf der Bühne jedes Mal für Partystimmung. Wir holen die Band nach Stainz und lassen den Tag mit diesem musikalischen Kracher ausklingen!
              </p>

              <hr>
              <p class="normal">
                Sichert euch eure Eintrittskarte und seid dabei! 😎
              </p>

              <p class="normal">
                <u><b>Vorverkaufsstellen</b></u>
              </p>

              <p class="normal">
                🎫 bei allen Spielern und bei den Heimspielen des HV TDP Stainz<br>
                🎫 online unter www.hvtdpstainz.at<br>
                🎫 Restaurant Mediterran in Stainz<br>
                🎫 Trafik Schauer in Stainz<br>
                🎫 Gasthaus Orthacker in Straßgang (Am Buchkogel)<br><br>
                💵 12 Euro (Vorverkauf)<br>
                💵 15 Euro (Abendkasse - falls vorhanden)<br>
            </p>

            <p class="normal">
              Die Tickets werden GRATIS per Post versendet (Mindestbestellmenge: 2 Tickets)!
            </p>

            </div>
          <div fxFlex="50" fxFlexOffset="25px">
            <!-- <h3 style="text-align: center;">Hier findest du unser Stadion:</h3> -->
            <!-- this creates a google map on the page with the given lat/lng from -->
            <!-- the component as the initial center of the map: -->
            <img class="imageSmallCenter" src="assets/images/austria_wien_allstars.jpeg" style="width: 80%;" >
          </div>
        </div>
      </div>

      <div fxFlex fxFlexOffset="20px" class="form-size small" >
        <h3>Sichere dir deine Tickets gleich jetzt ⬇</h3>
        <!-- <p>{{ feedbackForm.value | json }} {{ feedbackForm.status | json }}</p> -->
        <form novalidate [formGroup]="feedbackForm" (ngSubmit)="onSubmit()" style="background-color: darkblue;color: rgba(255,255,255,.7);border: 27.4px solid;">
          <p>
            <mat-form-field class="full-width"
            color="{{(formErrors.firstname) ? 'warn' : 'primary'}}">
              <input class="formElement" matInput type="text" formControlName="firstname" placeholder="Vorname" required>
              <mat-hint>
                <span [hidden]="!(formErrors.firstname)">
                  {{formErrors.firstname}}</span>
              </mat-hint>
            </mat-form-field>
            <mat-form-field class="full-width"
             color="{{(formErrors.lastname) ? 'warn' : 'primary'}}">
              <input class="formElement" matInput formControlName="lastname" placeholder="Nachname" type="text" required>
              <mat-hint>
                <span [hidden]="!(formErrors.lastname)">
                  {{formErrors.lastname}}</span>
              </mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="full-width" color="primary">
            <!-- color="{{(formErrors.email) ? 'warn' : 'primary'}}"> -->
              <input matInput formControlName="email" placeholder="E-Mail" type="email"> <!-- email required
              <mat-hint>
                <span [hidden]="!(formErrors.email)">
                  {{formErrors.email}}</span>
              </mat-hint>
              -->
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="full-width"
            color="{{(formErrors.address) ? 'warn' : 'primary'}}">
              <input class="formElement" matInput type="text" formControlName="address" placeholder="Adresse" required>
              <mat-hint>
                <span [hidden]="!(formErrors.address)">
                  {{formErrors.address}}</span>
              </mat-hint>
            </mat-form-field>

          </p>

          <p>
            <mat-form-field class="full-width"
            color="{{(formErrors.ticketcount) ? 'warn' : 'primary'}}">
              <input class="formElement" matInput type="text" formControlName="ticketcount" placeholder="Anzahl der Tickets" required>
              <mat-hint>
                <span [hidden]="!(formErrors.ticketcount)">
                  {{formErrors.ticketcount}}</span>
              </mat-hint>
            </mat-form-field>

          </p>

          <button style="margin: 100 auto;float: right; font-size: 20px" class="formElement" type="submit" mat-button class="background-primary" [disabled]="feedbackForm.invalid" >Bestellung kostenpflichtig abschicken</button>
        </form>

        <div *ngIf="submittedFeedback">
            <h2>Wir haben deine Bestellung erhalten, Vielen Dank! Wir melden uns bei dir in Kürze.</h2>
            <p>Vorname: {{submittedFeedback.firstname}}</p>
            <p>Nachname: {{submittedFeedback.lastname}}</p>
            <p>E-Mail: {{submittedFeedback.email}}</p>
            <p>Adresse: {{submittedFeedback.address}}</p>
            <p>Anzahl der Entenlose: {{submittedFeedback.ticketcount}}</p>
        </div>
      </div>



</div>
<br>
