<div class="container flex flex-col gap-3">
  <div>
    <div>
      <h3 class="large header">‼ SOMMERFEST - 10 Jahresjubiläum ‼</h3>
      <hr />
    </div>
  </div>

  <div>
    <div class="flex flex-col md:flex-row">
      <div class="md:w-1/2 md:ml-2.5">
        <p class="normal"></p>
        <p class="normal">
          2024 ist unser Jubiläumsjahr und das wollen wir mit euch gemeinsam feiern! 🎉
        </p>
        <p class="normal">
          📅 WANN: Samstag, 20. Juli 2024<br />
          🏟 WO: Stadion Stainz
        </p>

        <p class="normal">
          <u><b>Programmübersicht</b></u>
        </p>

        <p class="normal">
          <b>11:07 Uhr - Einlass</b>
        </p>
        <hr />

        <p class="normal">
          Für die ersten 75 Zuschauer gibt es ein „Willkommensgeschenk“. 🎁<br />
          Weiters gibt es Freibier für alle (solange der Vorrat reicht!) 🍻<br />
        </p>

        <p class="normal">
          <b>11:30 Uhr: "Warm up Sommerparty"</b>
        </p>
        <hr />
        <p class="normal">
          DJ TomTru eröffnet den Tag und heizt euch mit Sommerhits und Partyschlager ein! 🎉<br />
        </p>

        <p class="normal">
          <b
            >16:00 Uhr: Freundschaftsspiel HV TDP Stainz :
            <a href="https://fk-austria.at/teams/allstars/kader" target="_blank"
              >FK Austria Wien Allstars</a
            ></b
          >
        </p>
        <hr />
        <p class="normal">
          Das sportliche Highlight des Tages - die ehemaligen Nationalteamspieler und FK Austria
          Wien Legenden kommen nach Stainz! 🟣⚪<br />
          Toni Pfeffer, Markus Suttner, Andreas Lasnik, Paul Scharner, Florian Klein, Andi Ogris und
          und und…..<br />
          Fußballherz was willst du mehr?!? Eine einzigartige Möglichkeit den ehemaligen
          Fußballprofis noch einmal genau auf die Beine schauen zu können! ⚽<br />
        </p>

        <p class="normal">
          <b>19:00 Uhr: Live Musik "Die Schilcherlandbuam"</b>
        </p>
        <hr />
        <p class="normal">
          Das musikalische Highlight des Tages - JUNG, FRECH, STEIRISCH - Ganz nach diesem Motto
          sorgen „Die Schilcherlandbuam“ auf der Bühne jedes Mal für Partystimmung. Wir holen die
          Band nach Stainz und lassen den Tag mit diesem musikalischen Kracher ausklingen!
        </p>

        <hr />
        <p class="normal">Sichert euch eure Eintrittskarte und seid dabei! 😎</p>

        <p class="normal">
          <u><b>Vorverkaufsstellen</b></u>
        </p>

        <p class="normal">
          🎫 bei allen Spielern und bei den Heimspielen des HV TDP Stainz<br />
          🎫 online unter www.hvtdpstainz.at<br />
          🎫 Restaurant Mediterran in Stainz<br />
          🎫 Trafik Schauer in Stainz<br />
          🎫 Gasthaus Orthacker in Straßgang (Am Buchkogel)<br />
          <!-- 💵 12 Euro (Vorverkauf)<br> -->
          <!-- 💵 15 Euro (Abendkasse - falls vorhanden)<br> -->
        </p>
      </div>
      <div class="md:w-1/2 md:ml-6">
        <!-- <h3 style="text-align: center;">Hier findest du unser Stadion:</h3> -->
        <!-- this creates a google map on the page with the given lat/lng from -->
        <!-- the component as the initial center of the map: -->
        <img
          class="imageSmallCenter"
          src="assets/images/austria_wien_allstars.jpeg"
          style="width: 80%"
        />
      </div>
    </div>
  </div>

  <div class="form-size small md:ml-5">
    <h3>Sichere dir deine Tickets gleich jetzt ⬇</h3>
  </div>

  <div style="padding: 0">
    <iframe
      id="eventim-light-iframe-v2-65e594452a65fb7a6f8f1441"
      src="https://www.eventim-light.com/at/a/65e594452a65fb7a6f8f1441/iframe/"
      width="100%"
      height="990px"
      data-scroll="true"
      data-scroll-offset-y="0"
      scrolling="yes"
      frameborder="0"
      name="eventim-light-iframe-v2-65e594452a65fb7a6f8f1441"
    ></iframe>
    <script
      type="text/javascript"
      src="https://www.eventim-light.com/at/a/65e594452a65fb7a6f8f1441/public/iframe/el-shop.js"
    ></script>
  </div>
</div>
<br />
