
agm-map {
  height: 500px;
  width: 80%;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.full-width {
    width: 95%
}

.half-width {
    width: 45%
}

.form-size {
    width: 75%
}
