<h1 style="text-align: center;">
    Galerie
</h1>

<p class="normal" *ngIf="!selectedSeason">
    Für unsere Fans haben wir alle HV TDP-Veranstaltungen archiviert. Viel Spaß beim Durchstöbern der offiziellen HV TDP-Galerie.
</p>

<div *ngIf="!selectedSeason">
    <div fxLayout="column" fxLayout.gt-sm="row">
        <mat-list>
        <mat-list-item *ngFor="let season of seasons">  
                <a><h1 style="font-size:xx-large;font-weight:bold;" matLine (click)="selectSeason(season)">{{season.season}}</h1></a>
        </mat-list-item>
        </mat-list>
    </div>
</div>
    
<div *ngFor="let season of seasons">
    <div *ngIf="selectedSeason == season">

        <p class="large" *ngIf="!selectedAlbum">
            {{season.season}}
        </p>
        
        <div *ngFor="let album of season.albums">
            <p class="normal" (click)="selectAlbum(album)" *ngIf="!selectedAlbum" style="color: hotpink;">
                    <a>{{album.date}}, {{album.name}}</a>
            </p>
            
            <span *ngIf="album == selectedAlbum">
                <p class="normal">
                    {{album.date}}, {{album.name}}
                </p>

                <ngu-carousel *ngIf="carouselItems" #myCarousel [inputs]="carouselConfig" [dataSource]="carouselItems">
                        <ngu-tile *nguCarouselDef="let item;">
                            
                            <div class="tile">
                                <table>
                                    <tr><img src="{{imageBaseUrl + item.imagePath}}" height="500px"></tr>
                                    <tr><p class="center">{{item.description}}</p></tr>
                                </table>
                            </div> 

                        </ngu-tile>
                        <button NguCarouselNext class="rightRs">></button>
                        <button NguCarouselPrev class="leftRs"><</button>
                        <ul class="myPoint" NguCarouselPoint>
                          <li *ngFor="let j of myCarousel.pointNumbers; let j = index" [class.active]="j==myCarousel.activePoint" (click)="myCarousel.moveTo(j)"></li>
                        </ul>
                      </ngu-carousel>

                <br>
                <button style="margin-left: 15px; font-size: 20px;" mat-button class="background-primary" (click)="backFromPhotos()">Zurück zu den Alben</button>
            </span>

        </div>
        
        <br>

        <button *ngIf="!selectedAlbum" style="margin-left: 15px; font-size: 20px" mat-button class="background-primary" (click)="backFromAlbums()">Zurück zur Übersicht</button>

    </div>
</div>

<br>
<br>
