<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h3 class="large header">Das legendäre Stadionfest</h3>
      <hr />
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="10px">
        <p class="normal"></p>
        <p class="normal">Legendenspiel gegen die SK Rapid Legenden</p>
        <p class="normal">
          📅 WANN: Samstag, 06. Juni 2026<br />
          ⏰Einlass: 14:30 Uhr<br />
          🏟 WO: Stadion Stainz
        </p>

        <p class="normal">
          <u><b>Vorverkaufsstellen</b></u>
        </p>

        <p class="normal">
          🎫 bei allen Spielern und bei den Heimspielen des HV TDP Stainz<br />
          🎫 Per E-Mail an <a href="mailto:hvtdpstainz@gmx.at">hvtdpstainz&#64;gmx.at</a> (kostenloser
          Postversand ab 2 Tickets)<br />
          🎫 oeticket
          <!-- 💵 12 Euro (Vorverkauf)<br> -->
          <!-- 💵 15 Euro (Abendkasse - falls vorhanden)<br> -->
        </p>

        <p class="normal">
          <u><b>Programmübersicht</b></u>
        </p>

        <p class="normal">
          <b>14:30 Uhr - Einlass</b>
        </p>
        <hr />

        <p class="normal">
          Für die ersten 75 Zuschauer gibt es ein „Willkommensgeschenk“. 🎁<br />
          Weiters gibt es Freibier für alle (solange der Vorrat reicht!) 🍻<br />
        </p>

        <p class="normal">
          <b>16:30 Uhr – 𝗦𝗽𝗶𝗲𝗹 𝗱𝗲𝗿 𝗦𝗞 𝗥𝗮𝗽𝗶𝗱 𝗪𝗶𝗲𝗻 𝗟𝗲𝗴𝗲𝗻𝗱𝗲𝗻</b>
        </p>
        <
        <hr />
        <p class="normal">
          Das sportliche Highlight des Tages - Die Legenden vom 32 fachen Meister der
          österreichischen Bundesliga kommen zu einem Freundschaftsspiel nach Stainz! 🟢⚪<br />
          Mit dem SK Rapid dürfen wir einen echten Traditionsverein des österreichischen Fußballs im
          Stadion Stainz begrüßen.<br /><br />

          Fußballherz was willst du mehr?!? Eine einzigartige Möglichkeit den ehemaligen
          Fußballprofis noch einmal genau auf die Beine schauen zu können! ⚽
        </p>

        <p class="normal">
          <b>𝗟𝗜𝗩𝗘 𝗠𝘂𝘀𝗶𝗸 "𝗗𝗶𝗲 𝗙ü𝗿𝘀𝘁𝗲𝗻"</b>
        </p>
        <hr />
        <p class="normal">
          Das musikalische Highlight des Tages – "Die Fürsten" kommen LIVE ins Stadion Stainz! Mit
          ihren Hits wie z.b. „Hokuspokus“, „Gasgeben“ und „Mein Team“ werden sie im Anschluss für
          die richtige Partystimmung sorgen! 🥳
        </p>

        <p class="normal">
          <b>𝗦𝗰𝗵𝗹𝗮𝗴𝗲𝗿𝗽𝗮𝗿𝘁𝘆</b>
        </p>
        <hr />
        <p class="normal">
          Für den Abschluss sorgt DJ TomTru und bringt den besten Schlager mit! 🎉
        </p>

        <hr />
        <p class="normal">Sichert euch eine der limitierten Eintrittskarte und seid dabei! 😎</p>
      </div>
      <div fxFlex="50" fxFlexOffset="25px">
        <img class="imageSmallCenter" src="assets/images/rapid.jpg" style="width: 80%" />
      </div>
    </div>
  </div>

  <div fxFlex fxFlexOffset="20px" class="form-size small">
    <h3>Sichere dir deine Tickets gleich jetzt ⬇</h3>
  </div>

  <div style="padding: 0">
    <iframe
      id="eventim-light-iframe-v2-65e594452a65fb7a6f8f1441"
      src="https://www.eventim-light.com/at/a/65e594452a65fb7a6f8f1441/iframe/"
      width="100%"
      height="990px"
      data-scroll="true"
      data-scroll-offset-y="0"
      scrolling="yes"
      frameborder="0"
      name="eventim-light-iframe-v2-65e594452a65fb7a6f8f1441"
    ></iframe>
    <script
      type="text/javascript"
      src="https://www.eventim-light.com/at/a/65e594452a65fb7a6f8f1441/public/iframe/el-shop.js"
    ></script>
  </div>
</div>
<br />
