<div class="container"
fxLayout="column"
fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3 class="large header">Fanshop</h3>
    <hr>
    </div>
  </div>

  <p class="normal">
    Was darf bei einem richtigen Fan des HV TDP Stainz nicht fehlen?
  </p>

  <p class="small">
    Natürlich die passenden Souvenirs und Outfits. Deshalb bieten wir ein paar nette Geschenke und Andenken in unserem offiziellen Fanshop an!
    <br>
    Mit einem Kauf wird nicht nur das heimische Wohnen und sein eigener Dresscode aufgepeppt, sondern man fördert mit einem Kauf auch das Vereinsleben und den sportlichen Betrieb unseres Vereines.
  </p>

  <p class="small">
    Folgende Artikel stehen zur Auswahl:
    <br>
    (bestellen ganz einfach mit einer Nachricht an unsere Facebookseite oder E-Mail Adresse)
  </p>

  <br>

  <div fxFlex>
    <mat-grid-list cols="{{gridColumns}}" rowHeight="600px">
      <mat-grid-tile *ngFor="let item of items" appHighlight>
        <img class="fanshopImg" [style.height.px]="gridImageHeight" src="{{imageBaseUrl + item.imagePath}}" alt={{item.name}}>
        <mat-grid-tile-header style="margin-top: 30px">
          <h1 mat-line [style.font-size.em] = "titleSizeEm">{{item.name | uppercase}}</h1>
          <h2 mat-line style="text-align: right;" [style.font-size.em] = "priceSizeEm">{{item.price}}</h2>
        </mat-grid-tile-header>

        <mat-grid-tile-footer *ngIf="isMobile" [style.font-size.em] = "detailSizeEm" style="text-align: center; min-height: 220px; height: auto;">
          {{item.description}}
          &nbsp; 
          <a md-icon-button class="btn-mail" href="mailto:hvtdpstainz@gmx.at?subject=Bestellung {{item.name}}&body={{item.description}} Bitte um Angabe von Anzahl und Größe.">
            <i class="fa fa-envelope"> jetzt bestellen!</i>
          </a>
        </mat-grid-tile-footer>

        <mat-grid-tile-footer *ngIf="!isMobile" [style.font-size.em] = "detailSizeEm" style="text-align: center; min-height: 110px; height: auto;">
          {{item.description}}
          &nbsp; 
          <a md-icon-button class="btn-mail" href="mailto:hvtdpstainz@gmx.at?subject=Bestellung {{item.name}}&body={{item.description}} Bitte um Angabe von Anzahl und Größe.">
            <i class="fa fa-envelope"> jetzt bestellen!</i>
          </a>
        </mat-grid-tile-footer>
        
      </mat-grid-tile>
      
    </mat-grid-list>
  </div>

</div>

<br>
