<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

     <div fxFlex>
            <div>
               <h3 class="large header">Stainzer Kleinfeldturnier 2023</h3>
               <hr>
            </div>
     </div>

    <div fxFlex>
      <div fxLayout="column" fxLayout.gt-sm="row">
          <div fxFlex="50" fxFlexOffset="10px">
            <p class="normal">
              <p class="normal">
                ‼️⚽️ SAVE THE DATE ⚽️‼️
              </p>
              <p class="normal">
                Das Stainzer Kleinfeldturnier für Hobby-, Firmen- und Vereinsmannschaften findet auch heuer wieder statt! 💪
              </p>
              <p class="normal">
                📅 Samstag, 22. Juli 2023<br>
                ⏰ ab 10:00 Uhr<br>
                🏟 Helvetia Versicherungen Stadion Stainz<br>
                👉 Spielform: 5 + 1
              </p>

              <p class="normal">
                🍻 Auch heuer gibt es wieder eine Schankwertung!
              </p>

              <p class="normal">
                Anmelden ist AB SOFORT möglich!<br>
                (ACHTUNG: Begrenzte Teilnehmerzahl, die Anmeldung ist erst mit dem Einzahlen des Nenngeldes fixiert)
              </p>

              <p class="normal">
                weitere Infos ⏩ <a href="https://www.facebook.com/events/911818543233169/" target="_blank">Stainzer Kleinfeldturnier</a> ⚽️
              </p>
            </div>
          <div fxFlex="50" fxFlexOffset="25px">
            <!-- <h3 style="text-align: center;">Hier findest du unser Stadion:</h3> -->
            <!-- this creates a google map on the page with the given lat/lng from -->
            <!-- the component as the initial center of the map: -->
            <img class="imageSmallCenter" src="assets/images/turnier_2023.jpeg " style="height: 300px; width: 450px;" >
          </div>
        </div>
      </div>

      <div fxFlex fxFlexOffset="20px" class="form-size" >
          <h3>Sichere dir die Teilnahme am legendären Stainzer Turnierklassiker gleich jetzt ⬇</h3>
          <!-- <p>{{ feedbackForm.value | json }} {{ feedbackForm.status | json }}</p> -->
          <form novalidate [formGroup]="feedbackForm" (ngSubmit)="onSubmit()" style="background-color: darkblue;color: rgba(255,255,255,.7);border: 27.4px solid;">
            <p>
              <mat-form-field class="full-width"
              color="{{(formErrors.name) ? 'warn' : 'primary'}}">
                <input class="formElement" matInput type="text" formControlName="name" placeholder="Ansprechperson" required>
                <mat-hint>
                  <span [hidden]="!(formErrors.name)">
                    {{formErrors.name}}</span>
                </mat-hint>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field class="full-width"
               color="{{(formErrors.email) ? 'warn' : 'primary'}}">
                <input matInput formControlName="email" placeholder="E-Mail" type="email" email required>
                <mat-hint>
                  <span [hidden]="!(formErrors.email)">
                    {{formErrors.email}}</span>
                </mat-hint>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field class="full-width"
               color="{{(formErrors.phone) ? 'warn' : 'primary'}}">
                <input class="formElement" matInput formControlName="phone" placeholder="Telefonnummer" type="text" required>
                <mat-hint>
                  <span [hidden]="!(formErrors.phone)">
                    {{formErrors.phone}}</span>
                </mat-hint>
              </mat-form-field>
            </p>

            <p>
                <mat-form-field class="full-width"
                color="{{(formErrors.teamname) ? 'warn' : 'primary'}}">
                    <input class="formElement" matInput type="text" formControlName="teamname" placeholder="Mannschaftsname" required>
                    <mat-hint>
                    <span [hidden]="!(formErrors.teamname)">
                        {{formErrors.teamname}}</span>
                    </mat-hint>
                </mat-form-field>
            </p>

            <button style="margin: 100 auto;float: right; font-size: 20px" class="formElement" type="submit" mat-button class="background-primary" [disabled]="feedbackForm.invalid" >Anmeldung jetzt abschicken</button>

          </form>

          <div *ngIf="submittedFeedback">
            <div>
              <h2>Wir haben deine Anmeldung erhalten, Vielen Dank! Wir melden uns bei dir in Kürze.</h2>
              <p>Ansprechperson: {{submittedFeedback.name}}</p>
              <p>E-Mail: {{submittedFeedback.email}}</p>
              <p>Telefonnummer: {{submittedFeedback.phone}}</p>
              <p>Teamname: {{submittedFeedback.teamname}}</p>
          </div>
        </div>

</div>
<br>
