<h1 class="large header">
    HV TDP News
</h1>

<mat-accordion>

<span *ngFor="let newsItem of news">

    <mat-expansion-panel *ngIf="news.indexOf(newsItem) >= this.pageEvent.pageIndex * this.pageEvent.pageSize 
                             && news.indexOf(newsItem) + 1 <= (this.pageEvent.pageIndex + 1) * (this.pageEvent.pageSize)" [expanded]="selectedNews != null && newsItem.newsId == selectedNews.newsId" (opened)="opened()">

        <mat-expansion-panel-header>
            {{newsItem.newsDate}} {{newsItem.title}}
        </mat-expansion-panel-header>

        <br>
        <img class="centerWithoutWidth" height="500vh" src="{{imageBaseUrl + newsItem.imagePath}}" alt= "{{newsItem.title}}" *ngIf="!isMobile">
        <img class="center" width="500vw" src="{{imageBaseUrl + newsItem.imagePath}}" alt= "{{newsItem.title}}" *ngIf="isMobile">

        <br>

        <p style="white-space: pre-line;" *ngIf="newsItem.news">
            {{newsItem.news}}
        </p>
        
        <div style="white-space: pre-line;" [innerHTML]="formatMessage(newsItem.htmlNews)" *ngIf="newsItem.htmlNews"></div>
    </mat-expansion-panel>
</span>

</mat-accordion>

<br>

<!-- <mat-form-field>
    List length:
    <input matInput [(ngModel)]="length">
</mat-form-field>

<mat-form-field>
    Page size:
    <input matInput [(ngModel)]="pageSize">
</mat-form-field> -->

<mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event">
</mat-paginator>

<!-- <div *ngIf="pageEvent">
    <h5>Page Change Event Properties</h5>
    <div>List length: {{pageEvent.length}}</div>
    <div>Page size: {{pageEvent.pageSize}}</div>
    <div>Page index: {{pageEvent.pageIndex}}</div>
</div> -->

<br>
