<h1 style="text-align: center;">
    HV TDP News
</h1>

<mat-accordion>

<mat-expansion-panel *ngFor="let newsItem of news">
    <mat-expansion-panel-header>
    {{newsItem.newsDate.toLocaleDateString()}} {{newsItem.title}}
    </mat-expansion-panel-header>

    <br>
    <img class="center" style="width: 50vw;" src="{{newsItem.imagePath}}" alt= "{{newsItem.title}}">

    <br>
    <p *ngFor="let newsLine of newsItem.news">
        {{newsLine.newsLine}}
    </p>

</mat-expansion-panel>

</mat-accordion>

<br>
