<h3 class="large header">Die „Torschuss Challenge 2.0“</h3>
<h4 class="small header">powered by 11teamsports Graz</h4>

@if (isMobile) {
<img class="imageSmallCenter" src="assets/images/torschusschallenge.jpeg" style="width: 80%" />
} @if (!isMobile) {
<img class="imageSmallCenter" src="assets/images/torschusschallenge.jpeg" style="width: 40%" />
}

<p class="normal">
  Die Legende ist zurück!
  <br />
  Nach einer erfolgreichen Premiere beim letzten Stadionfest gibt es auch dieses Mal unsere
  legendäre Torschusschallenge!
</p>

<p class="normal">
  Du traust dir zu den Ball von der Mittellinie direkt (ohne Berührung vor der Torlinie) ins Tor zu
  treffen und willst dabei auch noch einen sensationellen Preis gewinnen?!? Dann bist du hier genau
  richtig!
</p>

<p class="normal">
  Die Anmeldung ist für jeden und jede interessierte geöffnet und ist völlig KOSTENLOS.
  Anmeldemöglichkeit ausschließlich über das offizielle Anmeldeformular!
</p>

<p class="normal">
  Sichere dir deinen Platz, melde dich an und mit etwas Glück sehen wir uns beim Finaltag am 06.
  Juni 2026 im Stadion Stainz!
</p>

<p class="normal">
  <b>WANN:</b> Samstag, 06. Juni 2026 (in der Halbzeitpause vom Legendenspiel der SK Rapid Allstars)
</p>

<p class="normal"><b>WO:</b> Stadion Stainz</p>

<br />

<!-- <p class="normal">
  <b><u>Was gibt es zu gewinnen?</u></b>
</p> -->

<!-- <p class="normal">
  Der mögliche Gewinner erhält
  <b>2 VIP Karten für ein Heimspiel des SK Puntigamer Sturm Graz!</b> (gesponsert von 11teamsports
  Graz) Die 3 Finalisten erhalten für ihre Teilnahme GRATIS Eintritt zu unserem Sommerfest!
</p> -->

<p class="normal">
  <b><u>Wer kann teilnehmen?</u></b>
</p>

<p class="normal">Jeder, der mindestens 18 Jahre alt ist.</p>

<br />

<p class="normal">
  <b><u>Wie läuft der Bewerb ab?</u></b>
</p>

<ul style="margin-left: 40px">
  <li class="normal">1. Phase - Anmeldung über unser Online Formular (KOSTENLOS!)</li>
  <li class="normal">
    2. Phase - Online Voting auf unserer Homepage (die ersten 50 Anmeldungen stehen zur Wahl!)
  </li>
  <li class="normal">
    3. Phase - Die Top 3 vom Online Voting schaffen den Einzug ins Finale und dürfen am Tag vom
    Stadionfest um den Hauptpreis spielen!
  </li>
</ul>

<br />

<div
  style="
    background-color: darkblue;
    color: rgba(255, 255, 255, 0.7);
    border: 10px solid;
    margin-left: 10px;
    margin-right: 10px;
  "
>
  <form
    novalidate
    [formGroup]="feedbackForm"
    (ngSubmit)="onSubmit()"
    style="margin-left: 10px; margin-right: 10px"
  >
    <p style="margin-top: 20px">
      <mat-form-field class="full-width" color="{{ formErrors.firstName ? 'warn' : 'primary' }}">
        <input
          class="formElement"
          matInput
          type="text"
          formControlName="firstName"
          placeholder="Vorname"
          required
        />
        <mat-hint>
          <span [hidden]="!formErrors.firstName"> {{ formErrors.firstName }}</span>
        </mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width" color="{{ formErrors.lastName ? 'warn' : 'primary' }}">
        <input
          class="formElement"
          matInput
          type="text"
          formControlName="lastName"
          placeholder="Nachname"
          required
        />
        <mat-hint>
          <span [hidden]="!formErrors.lastName"> {{ formErrors.lastName }}</span>
        </mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width" color="{{ formErrors.email ? 'warn' : 'primary' }}">
        <input matInput formControlName="email" placeholder="E-Mail" type="email" email required />
        <mat-hint>
          <span [hidden]="!formErrors.email"> {{ formErrors.email }}</span>
        </mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width" color="{{ formErrors.phone ? 'warn' : 'primary' }}">
        <input
          class="formElement"
          matInput
          formControlName="phone"
          placeholder="Telefonnummer"
          type="text"
        />
        <mat-hint>
          <span [hidden]="!formErrors.phone"> {{ formErrors.phone }}</span>
        </mat-hint>
      </mat-form-field>
    </p>

    <button
      style="margin: 100 auto; float: right; font-size: 20px"
      class="formElement"
      type="submit"
      mat-button
      class="background-primary"
      [disabled]="feedbackForm.invalid"
    >
      Anmeldung abschicken
    </button>
    <br />
  </form>

  <input
    type="file"
    class="file-input"
    accept="image/*"
    (change)="onFileSelected($event)"
    #fileUpload
  />

  <div class="file-upload" style="margin-left: 10px; margin-right: 10px">
    <br />
    Profilfoto: <br />
    {{ fileName || 'Noch kein Profilfoto hochgeladen' }}

    <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
      <mat-icon>attach_file</mat-icon>
    </button>
  </div>

  <br />

  <div style="margin-left: 10px; margin-right: 10px">
    <u>Die mit * markierten Felder sind Pflichtfelder</u>
  </div>

  <br />

  <div style="margin-left: 10px; margin-right: 10px">
    Mit dem Abschicken der Anmeldung bestätige ich, dass ich mindestens 18 Jahre bin und mit der
    Veröffentlichung der persönlichen Daten im Zuge des Bewerbs einverstanden bin.
  </div>

  <br />
</div>

@if (submittedFormData) {
<div>
  <div>
    <h2>Wir haben deine Anmeldung erhalten, Vielen Dank!</h2>
    <p>Vorname: {{ submittedFormData.firstName }}</p>
    <p>Nachname: {{ submittedFormData.lastName }}</p>
    <p>E-Mail: {{ submittedFormData.email }}</p>
    <p>Telefonnummer: {{ submittedFormData.phone }}</p>
  </div>
  <br /><br />
  <br /><br />
</div>
}
