<div class="container flex flex-col gap-3">
  <div>
    <div>
      <h3 class="large header">4. Bocciaturnier 2026</h3>
      <hr />
    </div>
  </div>

  <div>
    <div class="flex flex-col md:flex-row">
      <div class="md:w-1/2 md:ml-2.5">
        <p class="normal">
          Wir bringen auch heuer wieder das Kultspiel aus Italien nach Stainz!<br />
        </p>

        <p class="normal">Hier die wichtigsten Infos:</p>

        <p class="normal">
          📅 Spieltermin: Samstag, 22.08.2026<br />
          ⏱ Beginn: 12:30 Uhr<br />
          🏟 Spielort: Stadion Stainz<br />
          💸 Nenngeld: 25,00 € (inklusive 1 Freigetränk pro Spieler)<br />
          📌 Spielform: 2 Spieler<br />
        </p>

        <p class="normal">Sichert euch euren Platz und meldet euch an! Wir freuen uns auf euch!</p>
        Für jeden Spieler gibt es am Turniertag ein Freigetränk!<br />

        <p class="normal">
          Anmeldung unter:<br />
          ➡ direkt hier auf unserer Homepage<br />
          ➡ 📲 telefonisch unter 0664/43 10 021<br />
          ➡ 📧 E-Mail: hvtdpstainz&#64;gmx.at<br />
          ➡ Facebook: HV TDP Stainz<br />
          ➡ Instagram: hvtdpstainz_2014
        </p>

        <p class="normal">
          Kontodaten:<br />
          IBAN: AT67 3843 9000 0481 3481<br />
          BIC: RZSTAT2G439<br />
          Empfänger: HV TDP Stainz<br />
          Verwendungszweck: Boccia 2026 + euren Mannschaftsnamen
        </p>

        <p class="normal">Erst mit der Einzahlung des Nenngeldes ist die Anmeldung fixiert!</p>
      </div>
      <div class="md:w-1/2 md:ml-6">
        <img class="imageSmallCenter" src="assets/images/boccia_2026.jpeg " style="width: 400px" />
      </div>
    </div>
  </div>

  <div class="form-size md:ml-5" style="padding-left: 20px">
    <h3>Sichere dir die Teilnahme gleich jetzt ⬇</h3>
    <!-- <p>{{ feedbackForm.value | json }} {{ feedbackForm.status | json }}</p> -->
    <form
      novalidate
      [formGroup]="feedbackForm"
      (ngSubmit)="onSubmit()"
      class="form-panel form-stacked"
    >
      <p>
        <mat-form-field class="full-width" color="{{ formErrors.name ? 'warn' : 'primary' }}">
          <input
            class="formElement"
            matInput
            type="text"
            formControlName="name"
            placeholder="Ansprechperson"
            required
          />
          <mat-hint>
            <span [hidden]="!formErrors.name"> {{ formErrors.name }}</span>
          </mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="full-width" color="{{ formErrors.email ? 'warn' : 'primary' }}">
          <input
            class="formElement"
            matInput
            type="email"
            formControlName="email"
            placeholder="E-Mail"
            required
          />
          <mat-hint>
            <span [hidden]="!formErrors.email"> {{ formErrors.email }}</span>
          </mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="full-width" color="{{ formErrors.teamname ? 'warn' : 'primary' }}">
          <input
            class="formElement"
            matInput
            type="text"
            formControlName="teamname"
            placeholder="Mannschaftsname"
            required
          />
          <mat-hint>
            <span [hidden]="!formErrors.teamname"> {{ formErrors.teamname }}</span>
          </mat-hint>
        </mat-form-field>
      </p>

      <div class="form-actions">
        <button
          class="formElement background-primary"
          type="submit"
          mat-button
          [disabled]="feedbackForm.invalid"
          style="font-size: 20px"
        >
          Anmeldung jetzt abschicken
        </button>
      </div>
    </form>

    @if (submittedFeedback) {
    <div>
      <div>
        <h2>Wir haben deine Anmeldung erhalten, Vielen Dank! Wir melden uns bei dir in Kürze.</h2>
        <p>Ansprechperson: {{ submittedFeedback.name }}</p>
        <p>Teamname: {{ submittedFeedback.teamname }}</p>
      </div>
    </div>
    }
  </div>
  <br />
</div>
