/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

/* Material Theme */

$lt-gray:              #ddd;
$background-dark:      #512DA8;
$background-light:     #9575CD;
$background-pale:      #D1C4E9;
$primary-color-dark:   #512DA8;
$primary-color:        #673AB7;
$primary-color-light:  #D1C4E9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.background-primary {
    background-color: $background-dark!important;
}

.background-accent {
    background-color: $accent-color!important;
}

.text-floral-white {
    color: floralwhite!important;
}

.flex-spacer {
  flex: 1 1 auto;
}

.highlight {
    background-color: $background-pale;
    border: 1px solid $primary-color-dark;
    z-index: 1;
    transform: scale(1.01);
}

/* Links */
  
/* unvisited link */
a:link {
    color: hotpink;
}

/* visited link */
a:visited {
    color: hotpink;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: red;
}

/* Material Lists */

.listImage {
    float: left; 
    margin-bottom: 75px;
    width: 500px;
}

.mat-list .mat-list-item .mat-list-text>*, .mat-list .mat-list-option .mat-list-text.hover>*, .mat-nav-list .mat-list-item .mat-list-text>*, .mat-nav-list .mat-list-option .mat-list-text>*, .mat-selection-list .mat-list-item .mat-list-text>*, .mat-selection-list .mat-list-option .mat-list-text>* {
    color: whitesmoke; 
}

 .mat-list .mat-list-item .mat-list-avatar.img-preview { 
    height: 125px;
    width: 92.5px;
    z-index: 10;
}

.mat-list .mat-list-item {
    color: blue;
}

.mat-list .mat-list-item .mat-divider {
    border-top-color: rgba(194, 24, 91, 0.5);
}

.mat-list {
    margin-top: 1em;
    margin-bottom: 5em;
}

/* General */

body {
    margin: 0px;
    font-family: Roboto, sans-serif;
    color: whitesmoke;
    background-color: navy;
    
    /* background-image: "url(assets/images/logo.gif)";
    background-repeat: no-repeat;
    background-position: left top; */
}

h1.header, h2.header, h3.header {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.mini {
    /* font-size: 2vw; */
    font-size: 60%;
    padding-left: 10px;
}

.small {
    /* font-size: 2vw; */
    font-size: 120%;
    padding-left: 10px;
}

.normal {
    /* font-size: 2.5vw; */
    font-size: 150%;
    padding-left: 10px;
}

.large {
    /* font-size: 3.5vw; */
    font-size: 200%;
    padding-left: 10px;
}

.bold {
    font-weight: bold;
}

/* images */

.imageSmallCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.logo {
    position: fixed;
    top: 22%;
    left: 1%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
