/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

/* Material Theme */

$lt-gray:              #ddd;
$background-dark:      #512DA8;
$background-light:     #9575CD;
$background-pale:      #D1C4E9;
$primary-color-dark:   #512DA8;
$primary-color:        #673AB7;
$primary-color-light:  #D1C4E9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif
}

.background-primary {
    background-color: $background-dark!important;
}

.background-accent {
    background-color: $accent-color!important;
}

.text-floral-white {
    color: floralwhite!important;
}

.flex-spacer {
  flex: 1 1 auto;
}

.highlight {
    background-color: $background-pale;
    border: 1px solid $primary-color-dark;
    z-index: 1;
    transform: scale(1.01);
}
/* Material Lists */

.mat-list .mat-list-item .mat-list-text>*, .mat-list .mat-list-option .mat-list-text.hover>*, .mat-nav-list .mat-list-item .mat-list-text>*, .mat-nav-list .mat-list-option .mat-list-text>*, .mat-selection-list .mat-list-item .mat-list-text>*, .mat-selection-list .mat-list-option .mat-list-text>* {
    color: darkorchid;
     /* blueviolet;  */
}

 .mat-list .mat-list-item .mat-list-avatar.img-preview { 
    height: 75px;
    width: 75px;
}

.mat-list .mat-list-item {
    color: blue
}

.mat-list .mat-list-item .mat-divider {
    border-top-color: rgba(194, 24, 91, 0.5);
}

.mat-list {
    margin-top: 1em;
    margin-bottom: 5em;
}

/* General */

body {
    color: darkorchid;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
