<h1 style="text-align: center;">
    Videos
</h1>

<p class="normal">
    Für unsere Fans haben wir alle Tore und Events archiviert. Wähle eine eine Saison bzw. Jahr um durch unser Videoarchiv zu stöbern.
</p>

<div *ngIf="!selectedSeason">
    <div fxLayout="column" fxLayout.gt-sm="row">
        <mat-list>
        <mat-list-item class="matchballListImage" *ngFor="let season of seasons">  
                <a><h1 style="font-size:xx-large;font-weight:bold;" matLine (click)="selectSeason(season)">{{season.season}}</h1></a>
        </mat-list-item>
        </mat-list>
    </div>
</div>
    
<div *ngFor="let season of seasons">
    <div *ngIf="selectedSeason == season">

        <p class="large">
            {{season.season}}
        </p>

        <div *ngFor="let game of season.games">
            <p class="normal" *ngIf="game.round != 0">
                Runde {{game.round}}
            </p>
            <p class="normal">
                {{game.description}}
            </p>
            <p class="normal">
                {{game.date}}
            </p>
            <p class="normal" *ngIf="game.customText">
                {{game.customText}}
            </p>
            
            <div *ngFor="let link of game.links">
                <mat-list>
                    <div *ngFor="let player of players">
                        <mat-list-item *ngIf="player.lastName == link.scorer" style="height: 400px;">
                            <p class="small">
                                <img matListAvatar class='img-preview' src="{{imageBaseUrl + player.imagePath}}" alt="{{player.firstName}} {{player.lastName}}" style="width: 90px; height: 110px;">
                                <!-- <a href="{{link.link}}" target="_blank"></a>   -->
                                {{link.description}} {{link.scorer}}
                                <br><br>
                                <iframe width="560px" height="315px" [src]="link.link | safe" frameborder="0" allowfullscreen></iframe>
                                <!-- https://www.youtube.com/embed/1ozGKlOzEVc -->
                            </p> 
                        </mat-list-item>
                    </div>

                    <mat-list-item *ngIf="link.scorer == 'Eigentor'" style="height: 400px;">
                        <p class="small">
                            <img matListAvatar class='img-preview' src="{{imageBaseUrl + 'team/no_photo.jpg'}}" alt="{{link.scorer}}" style="width: 90; height: 110px;">
                            {{link.description}} {{link.scorer}}
                            <br><br>
                            <iframe width="560px" height="315px" [src]="link.link | safe" frameborder="0" allowfullscreen></iframe>
                        </p>
                    </mat-list-item>

                    <mat-list-item *ngIf="link.scorer == ''" style="height: 400px;">
                        <p class="small">
                            {{link.description}}
                            <br><br>
                            <iframe width="560px" height="315px" [src]="link.link | safe" frameborder="0" allowfullscreen></iframe>
                        </p>
                    </mat-list-item>

                </mat-list>                    
            </div>


        </div>
        
        <br>

        <button style="margin-left: 15px; font-size: 20px" mat-button class="background-primary" (click)="back()">Zurück zur Übersicht</button>

    </div>
</div>

<br>
<br>
