.mat-list .mat-list-item .mat-list-avatar.img-preview { 
    height: 75px;
    width: 75px;
}

.mat-list .mat-list-item {
    color: blue
}

.mat-list .mat-list-item .mat-divider {
    border-top-color: rgba(194, 24, 91, 0.5);
}

.mat-list {
    margin-top: 1em;
    margin-bottom: 5em;
}
