<h1 class="large header">Dokumente</h1>

<p class="normal">
  Hier findest du die Sammlung der wichtigsten Dokumente für HV TDP-Mitglieder und Fans.
</p>

@for (document of documents; track document) {
  <p class="normal">
    @if (document.protected != 0) {
      <span>
        🔐
        <a class="link" [routerLink]="" (click)="downloadProtectedDocument(document)">{{
          document.description
        }}</a>
      </span>
    }
    @if (document.protected == 0) {
      <span>
        <a href="{{ documentBaseUrl + document.link }}">{{ document.description }}</a>
      </span>
    }
  </p>
}

<br />
<br />
