<h1 class="large header">
    Dokumente
</h1>

<p class="normal">
    Hier findest du die Sammlung der wichtigsten Dokumente für HV TDP-Mitglieder und Fans.
</p>

<p *ngFor="let document of documents" class="normal">
    <span *ngIf="document.protected != 0">
        🔐 <a [routerLink]="" (click)="downloadProtectedDocument(document);">{{document.description}}</a>
    </span>
    <span *ngIf="document.protected == 0">
        <a href="{{documentBaseUrl + document.link}}">{{document.description}}</a>
    </span>
    
</p>

<br>
<br>
